@media (max-width: 1199px) {
    .nav {
        position: unset;
        flex-direction: unset;
        width: unset;
        flex-direction: unset;
        align-items: center;
        padding: 15px 0;
    }


    .nav__list {
        display: flex;
    }

    .nav__image {
        margin-right: 20px;
    }
}

@media (max-width: 1140px) {
    .nav:hover {
    width: unset;
    }
}

@media (max-width: 992px) {
    

    .cards {
        justify-content: space-evenly;
        gap: 20px;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 68%;
        height: 60vh;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: 0.4s;
        z-index: 98;
    }

    .nav__list {
        flex-direction: column;
        text-align: center;
    }

    .nav__burger:hover ~ .nav__menu {
        transform: scale(1);
    }

    .nav__burger {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__burger-line {
        background: #939393;
        width: 100%;
        height: 2px;
        position: relative;
    }

    .nav__burger-line::before,
    .nav__burger-line::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: #939393;
    }

    .nav__burger-line::before {
        top: -10px;
    }

    .nav__burger-line::after {
        top: 10px;
    }
}

@media (max-width: 480px) {
    .header__content {
        padding: 0 12px;
    }
    

    .header__content-title {
        font-size: 40px;
        line-height: 50px;
    }

    .btn {
        max-width: unset;
        font-size: 14px;
    }

    .card {
        max-width: unset;
    }

    .boxes {
        padding: unset;
    }

    .footer__logo {
        font-size: 40px;
    }

    .product {
        max-width: unset;
    }

    .products__link {
        padding: 0 0 18px;
    }

    .boxes__link {
        padding: 0 0 18px;
    }
}